# Kaggle competition info

## Overview
Welcome to the 2025 Kaggle Playground Series! We plan to continue in the spirit of previous playgrounds, providing interesting and approachable datasets for our community to practice their machine learning skills, and anticipate a competition each month.

**Your Goal:** Predict the probability that a patient will be diagnosed with diabetes.

**Link**: <https://www.kaggle.com/competitions/playground-series-s5e12/overview>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)



import os, time

import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
class CFG:

    trainFile = "/kaggle/input/playground-series-s5e12/train.csv"
    testFile = "/kaggle/input/playground-series-s5e12/test.csv"
    sampleFile = "/kaggle/input/playground-series-s5e12/test.csv"
    targetCol = "diagnosed_diabetes"

In [3]:
def printAllcolumnsValue(df, showAll=True):
    for col in df.columns:
        if showAll :
            print(f"{col} : {df[col].unique()}") # print unique value
        else: # only print catergory column
            if df[col].dtype == "object":
                print(f"{col} : {df[col].unique()}") # print unique value

In [4]:
trainDF = pd.read_csv(CFG.trainFile)
trainDF

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed,0,0,0,0.0
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,Female,Hispanic,Graduate,Upper-Middle,Former,Employed,0,0,1,1.0
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,Female,White,Graduate,Middle,Never,Employed,0,0,0,1.0
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,Female,White,Highschool,Lower-Middle,Never,Retired,0,0,0,1.0
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,Female,Black,Graduate,Low,Former,Employed,0,0,0,1.0

In [5]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   id                                  700000 non-null  int64
 1   age                                 700000 non-null  int64
 2   alcohol_consumption_per_week        700000 non-null  int64
 3   physical_activity_minutes_per_week  700000 non-null  int64
 4   diet_score                          700000 non-null  float64
 5   sleep_hours_per_day                 700000 non-null  float64
 6   screen_time_hours_per_day           700000 non-null  float64
 7   bmi                                 700000 non-null  float64
 8   waist_to_hip_ratio                  700000 non-null  float64
 9   systolic_bp                         700000 non-null  int64
 10  diastolic_bp                        700000 non-null  int64
 11  heart_rate                          700000 non-null  int64
 12  cholesterol_total                   700000 non-null  int64
 13  hdl_cholesterol                     700000 non-null  int64
 14  ldl_cholesterol                     700000 non-null  int64
 15  triglycerides                       700000 non-null  int64
 16  gender                              700000 non-null  object
 17  ethnicity                           700000 non-null  object
 18  education_level                     700000 non-null  object
 19  income_level                        700000 non-null  object
 20  smoking_status                      700000 non-null  object
 21  employment_status                   700000 non-null  object
 22  family_history_diabetes             700000 non-null  int64
 23  hypertension_history                700000 non-null  int64
 24  cardiovascular_history              700000 non-null  int64
 25  diagnosed_diabetes                  700000 non-null  float64
dtypes: float64(6), int64(14), object(6)
memory usage: 138.9+ MB

In [6]:
trainDF.isnull().sum() # check Null

id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
diagnosed_diabetes                    0
dtype: int64

In [7]:
testDF = pd.read_csv(CFG.testFile)
testDF

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,triglycerides,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history
0,700000,45,4,100,4.3,6.8,6.2,25.5,0.84,123,...,111,Female,White,Highschool,Middle,Former,Employed,0,0,0
1,700001,35,1,87,3.5,4.6,9.0,28.6,0.88,120,...,145,Female,White,Highschool,Middle,Never,Unemployed,0,0,0
2,700002,45,1,61,7.6,6.8,7.0,28.5,0.94,112,...,184,Male,White,Highschool,Low,Never,Employed,0,0,0
3,700003,55,2,81,7.3,7.3,5.0,26.9,0.91,114,...,128,Male,White,Graduate,Middle,Former,Employed,0,0,0
4,700004,77,2,29,7.3,7.6,8.5,22.0,0.83,131,...,133,Male,White,Graduate,Low,Current,Unemployed,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,999995,59,3,185,6.3,7.3,4.4,22.8,0.81,108,...,126,Male,White,Highschool,Upper-Middle,Former,Employed,1,0,0
299996,999996,50,2,25,5.8,7.8,4.5,29.6,0.93,112,...,112,Male,Asian,Postgraduate,Lower-Middle,Never,Employed,0,0,0
299997,999997,63,1,252,5.2,7.5,8.5,25.1,0.77,129,...,135,Female,White,Highschool,Middle,Never,Employed,0,0,0
299998,999998,48,3,72,4.9,6.9,1.8,27.7,0.89,121,...,138,Male,White,Highschool,Low,Current,Retired,0,1,0
299999,999999,47,1,75,5.1,8.0,2.5,26.1,0.84,132,...,107,Female,White,Graduate,Upper-Middle,Current,Employed,0,1,0

In [8]:
testDF.isnull().sum() # check Null

id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
dtype: int64

In [9]:
trainDF.columns

Index(['id', 'age', 'alcohol_consumption_per_week',
       'physical_activity_minutes_per_week', 'diet_score',
       'sleep_hours_per_day', 'screen_time_hours_per_day', 'bmi',
       'waist_to_hip_ratio', 'systolic_bp', 'diastolic_bp', 'heart_rate',
       'cholesterol_total', 'hdl_cholesterol', 'ldl_cholesterol',
       'triglycerides', 'gender', 'ethnicity', 'education_level',
       'income_level', 'smoking_status', 'employment_status',
       'family_history_diabetes', 'hypertension_history',
       'cardiovascular_history', 'diagnosed_diabetes'],
      dtype='object')

In [10]:
testDF.columns

Index(['id', 'age', 'alcohol_consumption_per_week',
       'physical_activity_minutes_per_week', 'diet_score',
       'sleep_hours_per_day', 'screen_time_hours_per_day', 'bmi',
       'waist_to_hip_ratio', 'systolic_bp', 'diastolic_bp', 'heart_rate',
       'cholesterol_total', 'hdl_cholesterol', 'ldl_cholesterol',
       'triglycerides', 'gender', 'ethnicity', 'education_level',
       'income_level', 'smoking_status', 'employment_status',
       'family_history_diabetes', 'hypertension_history',
       'cardiovascular_history'],
      dtype='object')

# Data preprocessing

In [11]:

printAllcolumnsValue(trainDF, showAll=False)

gender : ['Female' 'Male' 'Other']
ethnicity : ['Hispanic' 'White' 'Asian' 'Black' 'Other']
education_level : ['Highschool' 'Graduate' 'Postgraduate' 'No formal']
income_level : ['Lower-Middle' 'Upper-Middle' 'Low' 'Middle' 'High']
smoking_status : ['Current' 'Never' 'Former']
employment_status : ['Employed' 'Retired' 'Student' 'Unemployed']

In [12]:
printAllcolumnsValue(testDF, showAll=False)

gender : ['Female' 'Male' 'Other']
ethnicity : ['White' 'Hispanic' 'Black' 'Asian' 'Other']
education_level : ['Highschool' 'Graduate' 'Postgraduate' 'No formal']
income_level : ['Middle' 'Low' 'Lower-Middle' 'Upper-Middle' 'High']
smoking_status : ['Former' 'Never' 'Current']
employment_status : ['Employed' 'Unemployed' 'Retired' 'Student']

In [13]:
# Ordinal mappings each catergoy into numberic representation
genderMap = {"Female": 0, "Male": 1,  "Other": 2}
ethnicityMap = {"Hispanic": 0 , "White": 1, "Asian": 2, "Black": 3, "Other": 4}
eduLvlMap = {"Highschool": 0, "Graduate":1 , "Postgraduate": 2, "No formal": 3}
incomeLvlMap = {"Lower-Middle": 0 , "Upper-Middle":1 , "Low":2 , "Middle": 3, "High": 4}
smokingMap = {"Never": 0, "Current": 1,  "Former": 2}
employmentMap = {"Employed": 0,  "Retired": 1, "Student": 2,  "Unemployed": 3}

In [14]:
def cleanData(df):
    tempDF = df.copy()
    
    # convert catergoy into numberic column
    tempDF["gender"]= tempDF["gender"].map(genderMap)
    tempDF["ethnicity"]= tempDF["ethnicity"].map(ethnicityMap)
    tempDF["education_level"]= tempDF["education_level"].map(eduLvlMap)
    tempDF["income_level"] = tempDF["income_level"].map(incomeLvlMap)
    tempDF["employment_status"] = tempDF["employment_status"].map(employmentMap)
    tempDF["smoking_status"]= tempDF["smoking_status"].map(smokingMap)
    print(tempDF.head(5))
    print(tempDF.isnull().sum()) 
    return tempDF

In [15]:
# clean train data
trainDF = cleanData(trainDF)

   id  age  alcohol_consumption_per_week  physical_activity_minutes_per_week  \
0   0   31                             1                                  45
1   1   50                             2                                  73
2   2   32                             3                                 158
3   3   54                             3                                  77
4   4   54                             1                                  55

   diet_score  sleep_hours_per_day  screen_time_hours_per_day   bmi  \
0         7.7                  6.8                        6.1  33.4
1         5.7                  6.5                        5.8  23.8
2         8.5                  7.4                        9.1  24.1
3         4.6                  7.0                        9.2  26.6
4         5.7                  6.2                        5.1  28.8

   waist_to_hip_ratio  systolic_bp  ...  gender  ethnicity  education_level  \
0                0.93          112  ...       0          0                0
1                0.83          120  ...       0          1                0
2                0.83           95  ...       1          0                0
3                0.83          121  ...       0          1                0
4                0.90          108  ...       1          1                0

   income_level  smoking_status  employment_status  family_history_diabetes  \
0             0               1                  0                        0
1             1               0                  0                        0
2             0               0                  1                        0
3             0               1                  0                        0
4             1               0                  1                        0

   hypertension_history  cardiovascular_history  diagnosed_diabetes
0                     0                       0                 1.0
1                     0                       0                 1.0
2                     0                       0                 0.0
3                     1                       0                 1.0
4                     1                       0                 1.0

[5 rows x 26 columns]
id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
diagnosed_diabetes                    0
dtype: int64

In [17]:
# Clean test data
testDF = cleanData(testDF)

       id  age  alcohol_consumption_per_week  \
0  700000   45                             4
1  700001   35                             1
2  700002   45                             1
3  700003   55                             2
4  700004   77                             2

   physical_activity_minutes_per_week  diet_score  sleep_hours_per_day  \
0                                 100         4.3                  6.8
1                                  87         3.5                  4.6
2                                  61         7.6                  6.8
3                                  81         7.3                  7.3
4                                  29         7.3                  7.6

   screen_time_hours_per_day   bmi  waist_to_hip_ratio  systolic_bp  ...  \
0                        6.2  25.5                0.84          123  ...
1                        9.0  28.6                0.88          120  ...
2                        7.0  28.5                0.94          112  ...
3                        5.0  26.9                0.91          114  ...
4                        8.5  22.0                0.83          131  ...

   triglycerides  gender  ethnicity  education_level  income_level  \
0            111       0          1                0             3
1            145       0          1                0             3
2            184       1          1                0             2
3            128       1          1                1             3
4            133       1          1                1             2

   smoking_status  employment_status  family_history_diabetes  \
0               2                  0                        0
1               0                  3                        0
2               0                  0                        0
3               2                  0                        0
4               1                  3                        0

   hypertension_history  cardiovascular_history
0                     0                       0
1                     0                       0
2                     0                       0
3                     0                       0
4                     0                       0

[5 rows x 25 columns]
id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
dtype: int64

In [18]:
trainDF

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,0,0,0,0,1,0,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,0,1,0,1,0,0,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,1,0,0,0,0,1,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,0,1,0,0,1,0,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,1,1,0,1,0,1,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,0,0,2,1,2,0,0,0,0,0.0
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,0,0,1,1,2,0,0,0,1,1.0
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,0,1,1,3,0,0,0,0,0,1.0
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,0,1,0,0,0,1,0,0,0,1.0
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,0,3,1,2,2,0,0,0,0,1.0

In [20]:
testDF

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,triglycerides,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history
0,700000,45,4,100,4.3,6.8,6.2,25.5,0.84,123,...,111,0,1,0,3,2,0,0,0,0
1,700001,35,1,87,3.5,4.6,9.0,28.6,0.88,120,...,145,0,1,0,3,0,3,0,0,0
2,700002,45,1,61,7.6,6.8,7.0,28.5,0.94,112,...,184,1,1,0,2,0,0,0,0,0
3,700003,55,2,81,7.3,7.3,5.0,26.9,0.91,114,...,128,1,1,1,3,2,0,0,0,0
4,700004,77,2,29,7.3,7.6,8.5,22.0,0.83,131,...,133,1,1,1,2,1,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,999995,59,3,185,6.3,7.3,4.4,22.8,0.81,108,...,126,1,1,0,1,2,0,1,0,0
299996,999996,50,2,25,5.8,7.8,4.5,29.6,0.93,112,...,112,1,2,2,0,0,0,0,0,0
299997,999997,63,1,252,5.2,7.5,8.5,25.1,0.77,129,...,135,0,1,0,3,0,0,0,0,0
299998,999998,48,3,72,4.9,6.9,1.8,27.7,0.89,121,...,138,1,1,0,2,1,1,0,1,0
299999,999999,47,1,75,5.1,8.0,2.5,26.1,0.84,132,...,107,0,1,1,1,1,0,0,1,0

In [23]:
trainDF["family_history_diabetes"].value_counts()

family_history_diabetes
0    595419
1    104581
Name: count, dtype: int64

In [24]:
trainDF["hypertension_history"].value_counts()

hypertension_history
0    572607
1    127393
Name: count, dtype: int64

In [25]:
trainDF["cardiovascular_history"].value_counts()

cardiovascular_history
0    678773
1     21227
Name: count, dtype: int64

In [22]:
trainDF.describe()

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
count,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,...,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000
mean,349999.500000,50.359734,2.072411,80.230803,5.963695,7.002200,6.012733,25.874684,0.858766,116.294193,...,0.486344,1.278663,0.664839,1.771499,0.439630,0.431017,0.149401,0.181990,0.030324,0.623296
std,202072.738554,11.655520,1.048189,51.195071,1.463336,0.901907,2.022707,2.860705,0.037980,11.010390,...,0.510218,1.012726,0.760577,1.290106,0.733706,0.851056,0.356484,0.385837,0.171478,0.484560
min,0.000000,19.000000,1.000000,1.000000,0.100000,3.100000,0.600000,15.100000,0.680000,91.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,174999.750000,42.000000,1.000000,49.000000,5.000000,6.400000,4.600000,23.900000,0.830000,108.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,349999.500000,50.000000,2.000000,71.000000,6.000000,7.000000,6.000000,25.900000,0.860000,116.000000,...,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,524999.250000,58.000000,3.000000,96.000000,7.000000,7.600000,7.400000,27.800000,0.880000,124.000000,...,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,699999.000000,89.000000,9.000000,747.000000,9.900000,9.900000,16.500000,38.400000,1.050000,163.000000,...,2.000000,4.000000,3.000000,4.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000